In [18]:
import pandas as pd
import numpy as np

movies = pd.read_excel('movies_merge.xlsx')
ott = pd.read_csv('ott_merge.csv')

In [19]:
movies_ott = movies.merge(ott, on='ID', how='left')
movies_ott

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,0,0,1,0
16740,16741,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,0,0,1,0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN,0,0,1,0
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN,0,0,1,0
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0,1,0,0,0

In [20]:
movies_ott_runtime = movies_ott[['ID', 'Runtime', 'Genres']]

print(movies_ott_runtime)

          ID  Runtime                            Genres
0          1    148.0  Action,Adventure,Sci-Fi,Thriller
1          2    136.0                     Action,Sci-Fi
2          3    149.0           Action,Adventure,Sci-Fi
3          4    116.0           Adventure,Comedy,Sci-Fi
4          5    161.0                           Western
...      ...      ...                               ...
16739  16740    120.0      Comedy,Family,Fantasy,Horror
16740  16741     90.0              Comedy,Family,Sci-Fi
16741  16742      NaN                       Documentary
16742  16743      NaN                       Documentary
16743  16744     32.0          Documentary,Short,Family

[16744 rows x 3 columns]

In [21]:
movies_ott_runtime['Runtime'].add(1)

0        149.0
1        137.0
2        150.0
3        117.0
4        162.0
         ...
16739    121.0
16740     91.0
16741      NaN
16742      NaN
16743     33.0
Name: Runtime, Length: 16744, dtype: float64

In [23]:
movies_ott_runtime['Gen_doc'] = np.where(movies_ott_runtime['Genres'].str.contains('Documentary'),'Documentary', 'Non-Documentary')

movies_ott_runtime

/var/folders/09/kz04x5d51z70xmbz_t202qlc0000gn/T/ipykernel_66144/1897221627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_ott_runtime['Gen_doc'] = np.where(movies_ott_runtime['Genres'].str.contains('Documentary'),'Documentary', 'Non-Documentary')

          ID  Runtime                            Genres          Gen_doc
0          1    148.0  Action,Adventure,Sci-Fi,Thriller  Non-Documentary
1          2    136.0                     Action,Sci-Fi  Non-Documentary
2          3    149.0           Action,Adventure,Sci-Fi  Non-Documentary
3          4    116.0           Adventure,Comedy,Sci-Fi  Non-Documentary
4          5    161.0                           Western  Non-Documentary
...      ...      ...                               ...              ...
16739  16740    120.0      Comedy,Family,Fantasy,Horror  Non-Documentary
16740  16741     90.0              Comedy,Family,Sci-Fi  Non-Documentary
16741  16742      NaN                       Documentary      Documentary
16742  16743      NaN                       Documentary      Documentary
16743  16744     32.0          Documentary,Short,Family      Documentary

[16744 rows x 4 columns]

In [29]:
print(movies_ott_runtime['Gen_doc'].apply(len))

0        15
1        15
2        15
3        15
4        15
         ..
16739    15
16740    15
16741    11
16742    11
16743    11
Name: Gen_doc, Length: 16744, dtype: int64

In [30]:
movies_ott_runtime['Runtime'].subtract(0.01)

0        147.99
1        135.99
2        148.99
3        115.99
4        160.99
          ...
16739    119.99
16740     89.99
16741       NaN
16742       NaN
16743     31.99
Name: Runtime, Length: 16744, dtype: float64